@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* header */
header {
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 55px;

    margin-top: 0.9%;
    margin-bottom: 1.5%;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header::selection {
    background: transparent;
}

/* default html tags */
div {
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

h2 {
    font-size: 25px;
}