@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* header */
header {
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 55px;

    margin-top: 0.9%;
    margin-bottom: 1.5%;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header::selection {
    background: transparent;
}

/* default html tags */
div {
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

h2 {
    font-size: 25px;
}


/* global divs */
.majorheadline {
    color: black;

    font-family: 'Roboto Mono', monospace;
    font-weight: 700;

    margin-top: 2.0%;
    margin-left: 16.66%;
    margin-right: 16.66%;

    padding-bottom: 0.7%;
    text-align: center;
}

.maincontent {
    display: block;
    overflow: hidden;
}

.headline {
    /* text */
    color: black;
    
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;

    width: 90%;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    border-bottom: 1px solid #999999;
}

.vl {
    border-left: 1px solid #999999;
    height: 700px;
    display: inline-block;
    margin-left: 2.5%;
}

.vr {
    border-left: 1px solid #999999;
    height: 700px;
    display: inline-block;
    margin-right: 2.5%;
}

/* main content */
.mainstory {
    max-width: 35%;
    display: inline-block;
    vertical-align: top;
    align-content: center;

    padding: 1%;
}

.mainimage {
    max-width: 100%;
}

.maindescription {
    /* text */
    color: black;
    
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;

    padding-bottom: 15px;
    text-align: left;

    border-bottom: 1px solid #999999;
}

/* left sidebar content */
.leftheadline {
    /*      figure out how to do this in the future
            border-right: #999999;                */

    width: 15%;
    margin-left: 10%;
    display: inline-block;
}

/* right sidebar content */
.rightheadline {
        /*  figure out how to do this in the future
            border-right: #999999;                */

    width: 15%;
    margin-right: 10%;
    display: inline-block;
}